<div class="Box-row clearfix">
  <span class="d-md-inline-block">
    <%= image_tag organization.github_organization.github_avatar_url(120), class: 'avatar mr-2 left', height: 60, width: 60, alt: "@#{organization.github_organization.login}" %>
  </span>

  <span class="d-md-inline-block border">
    <%= link_to organization do %>
      <strong class="f4 css-truncate-target"><%= organization.title %></strong>
    <% end %>

    <span class="f4 text-gray css-truncate-target">@<%= organization.github_organization.login %></span>
  </span>

  <span class="d-md-inline-block border">
    <span class="text-gray float-right tooltipped tooltipped-s" aria-label="Individual Assignments">
      <%= octicon 'person', :class => "mr-1" %><%= organization.assignments.count %>
    </span>

    <span class="text-gray mr-2 float-right tooltipped tooltipped-s" aria-label="Group Assignments">
      <%= octicon 'organization', :class => "mr-1" %><%= organization.group_assignments.count %>
    </span>
  </span>
</div>
